/* Basic CSS and global centering with dark theme */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828; /* Softer dark background color */
  color: #b8e994; /* Light green for text */
}

body {
  font-family: "Arial", sans-serif;
}

input,
select,
button {
  background-color: #6a3093; /* Purple for inputs and buttons */
  color: #b8e994; /* Light green for text on inputs and buttons */
  border: 1px solid #9575cd; /* Light purple border for inputs and buttons */
}

button:hover,
input[type="text"]:hover,
select:hover {
  background-color: #9575cd; /* Lighter purple for hover */
  border-color: #b39ddb; /* Lighter edge for hover highlight */
}

input:focus,
select:focus,
button:focus {
  outline: none;
  border-color: #cddc39; /* Lime Green for Focus */
}

/* Additional styles to keep the dark theme consistent */
.cell:hover {
  background-color: #333333; /* Dark gray for hover in cells */
}

.winner-message {
  color: #cddc39; /* Lime Green for Victory Message */
}
